.about{
position: relative;
display: flex;
padding: 400px 250px 0 250px ;
top: auto;
}
.about h1{
    flex: 1;
    font-size: 2.5em;
    -webkit-transform: scale(1, 3);
    -moz-transform: scale(1, 3);
    -o-transform: scale(1, 3);
    transform: scale(1, 2); 
}
.about ul {
    flex: 1;
    position: relative;
}
.about .aboutme{
    flex: 1;
    padding: 100px 50px;
    height: fit-content;
    background-color: white;
    position: relative;
    top: -20%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about p{
 line-height: 40px ;
}
.about ul li{
    list-style: none;
    padding: 20px 0;
    font-size: 1.7rem;
}
div .dot{
 margin-left: auto;  
}








/* .hello{
    position: absolute;
    top: 20vh;
    left: 7ch;
    font-size: 1.5em;
    -webkit-transform: scale(1, 3);
    -moz-transform: scale(1, 3);
    -o-transform: scale(1, 3);
    transform: scale(1, 3);
}
.aboutme{
    position: absolute;
    top: 30vh;
    left: 15px;
    right: 2ch;
    font-size: 1.5em;
} */
