#ABOUT {
    padding: 80px 0 450px 0;
    width: 90%;
}

.about-page {
    
    display: flex;
    margin: auto;
    flex-direction: column;
}
.about-text {
    margin: auto;
    font-size: 1.3rem;
    width: 100%
    
  
}
.professional-photo {
    background-image:url('./images/alexander\ the\ great.png');
    width: 100%;
    position: relative;
 
  
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
   margin: auto;
    
}

.professional-photo::after {
    content: "";
    display: block;
    padding-bottom: 170%;
}
#ABOUT .about-text h1 {
    font-size: 3rem;
    text-align: center;
      
}

#ABOUT p {
    padding: 10px;
    line-height: 30px;
}

@media screen and (min-width: 768px) {
     .about-page {
        flex-direction: row;
    } 
    
    .about-text {
        width: 50%;
    }
    .professional-photo {
        width: 50%;
 }  
}
@media screen and (min-width: 1024px) {
    .about-page {
       flex-direction: row;
   } 
   
   .about-text {
       width: 50%;
   }
   .professional-photo {
       width: 60%;
}  
}




