
form { max-width:420px;
   margin:auto; 
 }

.feedback-input {
  font-weight:500;
  font-size: 15px;
  border-radius: 5px;
  line-height: 18px;
  background-color: transparent;
  border:2px solid #E1E2E2;
  transition: all 0.3s; 
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
  opacity: 0.6;
  color:#E1E2E2;
}

.feedback-input:focus { border:2px solid rgb(251,129,34, 0.7); }

textarea {
  height: 120px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {

  width: 100%;
  background:rgb(251,129,34, 0.7);
  border-radius:5px;
  border:0;
  cursor:pointer;
  font-size:20px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:rgb(251,129,34, 0.8); }






