#HOME{
  /* box-shadow: 0 2px 10px 0 rgba(0,0,0, .7); */
  position: relative;
  top:-100px;
}

.background {
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url('./images/denver-colorado.jpg');
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: cover;
  background-attachment: fixed;
  /* overflow: hidden; */
  /* margin-bottom: 60px; */

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(45, 0, 0, 0.8), rgba(227, 0, 0, 0.7) 100%);
  display: flex;
  align-items: center;
}

.background .text {
  max-width: 40%;
  margin: auto;
  color: rgb(232, 232, 232);
  text-align: center;
}

.background .text h1 {
  font-weight: 900;
  font-size: 45px;
  animation: fadeInTop 700ms ease-out;
}

.background .text p,
.background .text div {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.background .text div {
  animation: fadeInRight 1400ms ease-out;
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-300px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.sidebar.active {
  opacity: 1;
  transform: translateY(0);
}
@keyframes fadeInleft {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.sidebar.active {
  opacity: 1;
  transform: translateY(0);
}


.background .text p {
  animation: fadeInleft 2000ms ease-out;
}
@media screen and (max-width: 1450px) {
  .background .text {
    max-width: 50%;
  }
}
@media screen and (max-width: 1200px) {
  .background .text {
    max-width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .background .text h1 {
    font-size: 40px;
  }
  .background .text {
    max-width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .background .text h1 {
    font-size: 34px;
  }
  .background .text {
    max-width: 100%;
    margin: auto 70px;
  }
}

@media screen and (max-width: 480px) {
  .background .text h1 {
    font-size: 25px;
  }
  .background .text p {
    text-align: start;
  } 
  .background .text {
    top: 25%;
    margin: auto 20px;
  }
}
@media screen and (max-width: 320px) {
  .background .text h1 {
    font-size: 20px;
  }
}