.background {
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url('./images/denver-colorado-copy.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.spine {
  position: relative;
  width: 230px;
  height: 130%;
  background: #d2668d;
  top: 25%;
}

.brand-statement {
  position: relative;
  background: white;
  width: 200%;
  height: 45%;
  top: 10vh;
  right: 150%;
  padding: 30px;

}

.dot {
  position: relative;
  background: #d2668d;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.front-layout {
  position: relative;
  width: 220%;
  height: 30%;
  background: #292d33;
  left: 20%;
  padding: 30px;
  top: -10%;
}

.front-layout .statement {
  color: white;
  font-size: 1.1rem;
  line-height: 45px;
}

.brand-statement h1 {
  font-size: 4em;
  font-weight: 800;
}


@media screen and (min-width: 1201px) {}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 768px) {
  .brand-statement {
    width: 400px;
    right: 100%;
  }
  .front-layout {
    width: 180%;
  }
}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 320px) {}