.background {
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url('./images/denver-colorado-copy.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.spine {
  position: relative;
  width: 230px;
  height: 130%;
  background: #d2668d;
  top: 25%;
}

.brand-statement {
  position: relative;
  background: white;
  width: 500px;
  top: 10vh;
  right: 150%;
  padding: 30px;

}

.dot {
  position: relative;
  background: #d2668d;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.front-layout {
  position: relative;
  width: 500px;
  height: 30%;
  background: #292d33;
  left: 20%;
  padding: 30px;
  top: -10%;
}

.front-layout .statement {
  color: white;
  font-size: 1.1rem;
  line-height: 45px;
}

.brand-statement h1 {
  font-size: 4em;
  font-weight: 800;
}


@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1024px) {
  .brand-statement {
    width: 400px;
    right: 100%;
  
  }
  .front-layout {
    width: 150%;
    height: 40%;
    left: 50%;
    top: -20%;
  }
}

@media screen and (max-width: 768px) {
  .brand-statement {
    width: 310px;
    right: 15%;
    top:5vh;
  
  }
  .front-layout {
    width: 100%;
    height: 35%;
    left: 15%;
    top:0;
  }
  .spine {
    width: 310px;
    height: 110%;
    top: 15vh;
  }
  .brand-statement h1 {
    font-size: 3em;
  }
  .front-layout .statement {
    font-size: 1rem;
    line-height: 40px;
  }
}

@media screen and (max-width: 480px) {
  .brand-statement {
    width: 220px;
    z-index: 2;
  }
  .front-layout {
    width: 110%;
    height: 40%;
    left: 0;
    top:0;
    padding: 10px;
    z-index: 1;
    padding: 70px 10px 0 15px ;
  }
  .spine {
    width: 220px;
  }
  .brand-statement h1 {
    font-size: 2.5em;
    
  }
  .front-layout .statement {
    line-height: 30px;
  }

}

@media screen and (max-width: 320px) {}