.creative {
  position: absolute;
  top: 8vh;
  left: 2ch;
} 

 .developer{
  position: absolute;
  top: 17vh;
  left: 0.7ch;
  font-size: 2.5em;
  -webkit-transform: scale(1, 5);
  -moz-transform: scale(1, 5);
  -o-transform: scale(1, 5);
  transform: scale(1, 5);
 
} 

.designer{
  position: absolute;
  top: 35vh;
  left: 0.7ch;
  -webkit-transform: scale(1, 5);
  -moz-transform: scale(1, 5);
  -o-transform: scale(1, 5);
  transform: scale(1, 5);
  font-size: 2.5em;
  /* height: 50px; */
}

.and {
font-size: 0.4em;
 } 

 .contact{
  position: absolute;
  top: 80vh; 
  right:2ch;
  font-size: 2em;
}

.statement{
  position: absolute;
  top: 50vh;
  left: 0.7ch;
  right: 2ch;
  font-size: 1.5em;
  
} 
