.navbar {
  background: transparent;
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
  color: white;
  white-space: nowrap;
  height: 45px;

}
.navbar.active {
  backdrop-filter: blur(3px);
}


.sidebar {
  display: flex;
  text-align: end;
  width: 8px;
  overflow: hidden;
  transition: ease width 1s;
  
}
.sidebar-active {
  display: flex;
  text-align: end;
  width: 83px;
  transition: ease width 0.7s; 
  /* background-color: brown; */
 
  
   
}

.sidebar-active ul {
  list-style: none;
}
li {
  padding: 8px;
}
#toggle{
  padding-top: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: end;
  font-size: 1.5em;
}

.brand-name {
  font-size: 1.5em;
  padding-top: 15px;
  padding-left: 15px;
}
