.navbar {
  background: transparent;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%; 
  z-index: 998;
  height: 6.9vh;
}
.navbar.active {
  backdrop-filter: blur(3px);
}
.progress-bar{
  position: fixed;
  top: 7vh;
  left: 0; 
  height: 1.5px;
  background:linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #FE4880);
  z-index: 999;
}


.brand-name {
  font-size: 1.5em;
  padding: 15px;
}



.sidebar {
  height: 0px;
  overflow: hidden;
  transition: ease height 1s;
}
.sidebar-active {
  position: relative;
  right: 20px;
  display: flex;
  text-align: end;
  transition: ease height 0.7s;  
}

.sidebar-active ul {
  list-style: none;
  position: relative;
  top:15px;
  right: 5px;
}
li {
  padding-top: 8px;
  padding-bottom: 8px;
}


.hamburger {
  display: block;
  cursor: pointer;
  padding: 15px;
}
.hamburger.active .bar:nth-child(2){
  opacity: 0;
} 
.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
} 
.bar{
  display: block;
  width:25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color:black;
}
