.navbar {
  background: transparent;
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  color: white;
  white-space: nowrap;

}
.navbar.active {
  backdrop-filter: blur(3px);
}


.sidebar {
  display: flex;
  text-align: end;
  width: 0;
  overflow: hidden;
  transition: ease width 0.7s;
  
}
.sidebar-active {
  display: flex;
  text-align: end;
  width: 103px;
  transition: ease width 0.7s;
}


.sidebar-active ul {
  list-style: none;
}
li {
  padding: 8px;
}
  #toggle{
    padding-top: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: end;
  }


.brand-name {
  padding-top: 15px;
  padding-left: 15px;
}