.item{
    min-height: 30rem;
    min-width: 30rem;
    padding: 50px 30px;
  }
  .item img {
    width: 80%;
    height: 100%;
    border-radius: 2rem;
  }
  .inner-carousel{
    display: flex;
    background: lightblue;
  }
  .carousel{
    cursor: grab;
    overflow: hidden;
  }