.item{
    min-height: 30rem;
    min-width: 30rem;
    padding-top: 20%;
    
  }
  .item img {
    width: 60%;
    height: 100%;
    border-radius: 1.5rem;
  }
  .inner-carousel{
    display: flex;
    /* background: lightblue; */
  }
  .carousel{
    cursor: grab;
    overflow: hidden;
  }