main {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #292d33;
}

main h1 {
    font-size: 6rem;
    color: palevioletred;
    position: relative;
    top: 10vh;
    text-align: left;
    left: 30px;
}

main .last-words {
    padding: 70px 50px 50px 50px;
    background-color: white;
    position: relative;
    width: 350px;
    height: 500px;
    top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 30px;
}

main .dot {
    display: flex;
    align-items: flex-end;
    margin: auto 0 0 auto;
}

.big-dot {
    position: relative;
    background: #555c66;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    top: 10vh;
    margin: auto 0 0 auto;
    left: 30px;
}

.last-words p {
    line-height: 40px;
    font-size: 1.1rem;
    font-style: italic;
}

main ul li {
    list-style: none;
    color: rgb(240, 240, 240);
    padding: 20px 0;
    font-size: 2.5rem;
}

main div ul {
    position: relative;
    top: 35vh;
    left: -10ch;
    text-align: center;
}

footer {
    position: relative;
    top: 0vh;
    height: 10vh;
    width: 100%;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 0.3em;
    margin: auto;
}

main a {
    text-decoration: none;
    transition: 3s;
}

main a::after {
    content: '';
    height: 2px;
    width: 0%;
    background-color: white;
    display: block;
    transition: 0.4s ease-in-out;
}

main a:hover::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: palevioletred;
    display: block;
    transition: 0.4s ease-in-out;
}


@media screen and (max-width: 1200px) {
    main h1 {
        font-size: 5rem;
    }
    main .last-words {
        width: 35%;

    }

}

@media screen and (max-width: 1024px) {
    main h1 {
        font-size: 4rem;
        top:15vh;
    }
    
    main .last-words {
        padding: 50px 30px 30px 30px;

        width: 400px;
        height: 400px;
    }
    
.big-dot {
    width: 400px;
    height: 400px;
    top:20vh;
}
    
    .last-words p {
        font-size: 1rem;

    }
    main ul li {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    main {
        display: block;
    }
    .big-dot {
        margin:1px;
        width: 300px;
        height: 300px;
        left: 0;
    }
    main h1 {
        font-size: 3rem;
        left: 0;
    }
    
}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 320px) {}