
  .exampleWrapperDiv {
    width: fit-content;
    height: fit-content;
    margin: auto;
    position: absolute;
    top:-320px;
    right: -200px;
    overflow: hidden;
  }
  
 
  
  
  .rotating-curved-text {
    -webkit-animation: spin 12s linear infinite;
    -moz-animation: spin 12s linear infinite;
    animation: spin 12s linear infinite;
  }


  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  