
  .exampleWrapperDiv {
    width: fit-content; 
     height: fit-content;
    /* margin: auto; */
    position: absolute;
    top:-330px;
    right: -180px;
    overflow: hidden;
    opacity: 0.3;
   
  }
  @media screen and (min-width: 480px){
    .exampleWrapperDiv {
    top:45%;
    }
  }
  .rotating-curved-text {
    background: transparent;
    -webkit-animation: spin 15s linear infinite;
    -moz-animation: spin 15s linear infinite;
    animation: spin 15s linear infinite ;
    
  
    
  }
  .circleAnimation{
   
    opacity: 0;
    animation: circleShow 3s ease forwards;
    animation-delay: 2500ms;
  }

  @keyframes circleShow {
    to {
       opacity: 1;
   }
  }
  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  