* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: 'Allerta Stencil', sans-serif;
  color: rgb(35, 35, 35);
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  
}
.homepage {
  height: 150vh;
  width: 100%;
  background-color: rgb(242, 241, 241);
  
  
}
.about {
  height: 95vh;
  width: 100%;
  background-color: rgb(242, 241, 241);
}

.skills {
  height: 100vh;
  background-color: rgb(8, 89, 114);
}



