* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  
}
.about {
  height: 95vh;
  width: 100%;
  background-color: #f2f2f2;
}



.skills {
  width: 100%;
}



